version: "3.9"

services:
  backend:
    container_name: notes-backend
    build: ./backend
    expose:
      - "5000"
    env_file:
      - ./backend/.env
    environment:
      FLASK_ENV: development
    restart: unless-stopped

  frontend:
    container_name: notes-frontend
    build: ./Frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped
