services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    environment:
      - FLASK_ENV=development

  frontend:
    build: ./Frontend
    ports:
      - "80:80"
    depends_on:
      - backend

